<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--注入属性，内部bean-->
    <bean id="emp" class="cn.cuiper.spring.Emp">
        <property name="eAge" value="18"></property>
        <property name="eName" value="cuipai"></property>
        <property name="dept">
            <bean id="dept" class="cn.cuiper.spring.Dept">
                <property name="dName" value="BOSS"></property>
            </bean>
        </property>
    </bean>

</beans>